
/* --------- CANAL ------- */
.canal{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}

/* ---- CONTAINER-CANAIS --------- */
.container-canais{
    display: flex;
    width: 100%;
    height: 400px;

}

/* ---- TEXT-CANAIS ------- */
.text-canais{
    flex: 1;
    background-color: rgb(245, 245, 245);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* H2 */
.text-canais h2{

    font-style: italic !important;
        font-weight: 400 !important;
        font-family: var(--exo) !important;
        font-size: 2.5rem !important;
        line-height: 2.125rem !important;
}

/* P */
.text-canais p{
    display: flex;

    align-items: center;
    width: 370px;
    text-align: left;
    color: #5A645A;
    font-size: 1rem;
    font-family:  var(--nunito);
}

/* ---- CONTAINER-CARROSEL ------ */
.container-carrosel{
    display: flex;
    gap: 50px;
}

/* LEFT (ESQUERDA) */
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---- CORROSEL-CANAIS ------ */
.carrosel-canais{
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* H3 */
.carrosel-canais h3{
    color: #5A645A;

    font-style: italic !important;
        font-weight: 400 !important;
        font-family: var(--exo) !important;
        font-size: 2.5rem !important;
        line-height: 2.125rem !important;

}

/* P */
.carrosel-canais p{
    width: 370px;
    display: flex;
    justify-content: center;
    text-align: left;
    color: #5A645A;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--nunito);
}

/* RIGHT (DIREITA) */
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}


