

/* ---- CARTAO ------- */

.cartao {
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}

/* ------- CONTAINER-CARTAO ---- */
.container-cartao {
    display: flex;

    width: 100%;
    height: 400px;

}

/* ---- TEXT-CARTAO ---- */
.text-cartao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
}

/* SPAN */
.text-cartao span {
    font-family: var(--nunito);
}

/* H2 */
.text-cartao h2 {
    font-style: italic !important;
    font-weight: 400 !important;
    font-family: var(--exo) !important;
    font-size: 2.5rem !important;
    line-height: 2.125rem !important;
}

/* ---- PEDIR-CARTAO ---- */
.pedir-cartao{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* A */
.pedir-cartao a{
    text-decoration: none;
    position: relative;
    font-size: 16px;
    color: var(--green2);
    font-weight: 700;
    font-family: var(--nunito);

    
    transition: all .2s;
}

/* AFTER */
.pedir-cartao a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--green);
}

/* HOVER */
.pedir-cartao a:hover::after{
    width: 100%;
}

/* ---- IMG-CARTAO ---- */
.img-cartao {
    display: flex;
}