
/* --------------- CARTOES ------------ */
.cartoes{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}

/* ---- TEXT-CARTOES -------- */
.text-cartoes{
    display: flex;
    padding: 50px 0px 0px 50px;
}

/* H2 */
.text-cartoes h2{
    font-family: var(--exo);
    color: var(--black);
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
}

/* ---- CONTAINER-CARTOES ------- */
.container-cartoes{
    display: flex;
    gap: 20px;
    margin: 0px 50px;

}

/* ---- ITENS-CARTOES ----- */
.itens-cartoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    gap: 20px;
    height: auto;
    width: 364.53px;
    background-color: rgb(11, 74, 31);
    padding-bottom: 20px;

   /* border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px; */
   border-radius: 5px;

}

/* A */
.itens-cartoes a{
    text-decoration: none;
}

/* IMG */
.itens-cartoes img{
    width: 364.53px;
}

/* H3 */
.itens-cartoes h3{
    color: white;
    padding: 10px;
    font-family: var(--exo);
}

/* P */
.itens-cartoes p{
    color: white;

    text-align: left;
    padding: 10px;
    font-family: var(--nunito);
}

/* ---- LINK-CONHECER --- */
.links-conhecer{
    display: flex;
    align-items: center;
    gap: 10px;

    transition: all 3s;

}
/* A */
.links-conhecer a{
    text-decoration: none;
    position: relative;
    color: white;
}
/* AFTER */
.links-conhecer a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0px;
    height: 1px;
    background-color: white;
}

/* HOVER (AFTER) */
.links-conhecer a:hover::after{
    width: 100%;
}

