
/* ---------- NECESSIDADES -------- */
.necessidades{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}

/* ---- TEXT-NECESSIDADES ------ */
.text-necessidades{
    display: flex;
    padding-left: 50px;
}

/* H2 */
.text-necessidades h2{
    font-family: var(--exo);
    font-size: 2.5rem;
    line-height: 3rem;
    font-style: normal;
    color: var(--black);
}

/* ---- CONTAINER-NECSS ------ */
.container-necss{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin: 0 50px;
}
/* ---- ITENS-NECSS ---- */
.itens-necss{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;


    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
}

/* IMG */
.necss-img{
    display: flex;
    gap: 20px;
    position: relative;
}

/*------ PLAYER ----- */
.player{
    position: absolute;
    top: 180px;
    left: 20px;
}

/* IMG */
.player img{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 100%;
}
/* HOVER */
.player img:hover{
    background-color: var(--green);
    border-radius: 100%;
}

/* ---- TILTES ------ */
.titles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

/* SPAN */
.titles span{
    font-family: var(--exo);
    font-size: 25px;
}
/* P */
.titles p{
    color: var(--black);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
}

