
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* exo */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


/* nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@import url(/investimentos/headers.css);
@import url(/investimentos/paginas.css);
@import url(/investimentos/oportunidades.css);
@import url(/investimentos/formulation.css);
@import url(/investimentos/diversidade.css);
@import url(/investimentos/conquistas.css);
@import url(/investimentos/perfil.css);
@import url(/investimentos/carteiras.css);
@import url(/investimentos/vantagens.css);
@import url(/investimentos/aprenda.css);
@import url(/investimentos/investir.css);
@import url(/investimentos/investir-blog.css);
@import url(/investimentos/ambientes.css);
@import url(/investimentos/perguntas.css);
@import url(/investimentos/link-footer.css);
@import url(/investimentos/contatos.css);



:root{
    --green: #33820D;
    --gray: #6c757d;

    --black: #323C32;
    --green2: #3FA110;

    --nunito: "Nunito", sans-serif;
    --exo: "Exo 2", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    background-color: white;

    overflow-x: hidden;

    font-family: "Roboto", sans-serif;


}