
/* -------------------- ENERGIA-FUTURO ----------------- */
.energia-futuro{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}

/* ---- FUTURO-CONTAINER ----- */
.futuro-container{
    display: flex;
    margin: 0px 50px;
    height: 400px;

    border-radius: 6px;
}

/* ---- TEXT-FUTUROS ---- */
.text-futuros{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    flex: 1;
    background-color: #F8F9F7;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* H2 */
.text-futuros h2{
    font-size: 3rem;
    font-family: var(--exo);
    font-weight: 400;
    line-height: 3.375rem;
    width: 80%;
}

/* P */
.text-futuros p{
    font-size: 1rem;
    font-family: var(--nunito);
    width: 80%;
}


/* ---- FUTURO-IMG ---- */
.futuro-img{
    display: flex;
    flex: 1;
    
}

/* IMG */
.futuro-img img{
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


