

/* ------------------ SOLUCOES ---------------------- */
.solucoes{
    display: flex;
    flex-direction: column;

    padding-bottom: 150px;
}

/* ---- TEXT-SOLUCOES ----- */
.text-solucoes{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-left: 50px;
}

/* H2 */
.text-solucoes h2{
    font-size: 2.5rem;
    font-family: var(--exo);
    font-weight: 400;
    line-height: 3rem;
    font-style: italic;
}

/* P */
.text-solucoes p{
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: var(--exo) !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}

/* ---- LINKS-CONTAS ---- */
.links-contas{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* A */
.links-contas a{
    text-decoration: none;
    color: var(--green2);
    font-family: var(--exo);
    position: relative;
    transition: all .3s;
}

/* AFTER */
.links-contas a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0px;
    height: 1px;
    background-color: var(--green2);
}

/* HOVER (AFTER) */
.links-contas a:hover::after{
    width: 100%;
}

/* ---- CONTAINER-SOLUCOES ---- */
.container-solucoes{
    display: flex;
    gap: 40px;
    margin:  50px;
    height: 400px;

}

/* ---- ITENS-SOLUCOES ---- */
.itens-solucoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    width: 400px;
    background-color: white;

    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
}

/* A */
.itens-solucoes a{
    text-decoration: none;
}

/* IMG */
.itens-solucoes img{
    border-radius: 50%;
}

/* H3 */
.itens-solucoes h3{
    color: var(--black);
    font-family: var(--exo);
    font-size: 1.5rem;
    padding-block: 20px;
}
/* P */
.itens-solucoes p{
    color: var(--black);
    font-family: var(--nunito);
}


